@media (max-width: 768px) {
    .kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__container{
        width : 285px
    }

    .custom-logo{
        width : 200px
    }

    .custom-image{
        /*background-attachment: fixed;*/
        background-position: center top;
        background-repeat : no-repeat;
        background-size : 340px 250px !important;
        background-color: #fff;
    }

    .custom-bg-sukses{
        background-position: center bottom;
        background-repeat : no-repeat;
        background-size : 50% !important;
        background-color: #fff;
    }
}

@media (max-width: 320px) {
    .kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__container{
        width : 220px
    }

    .custom-logo{
        width : 200px
    }

}

.custom-logo{
    max-width : 300px
}

.custom-image{
    width: auto;
    height: 100%;
}


@media (min-width: 769px) {
    .custom-width{
        background-size : 340px 250px !important;
        background-color: #fff;
    }

    .custom-image{
        /*border: 50px solid #fff;*/

        background-attachment: fixed;
        background-position: center right;
        background-size : 440px 350px !important;
        background-color: #fff;
    }

    .custom-bg-sukses{
        background-repeat : no-repeat;
        background-size : 20% !important;
        background-color: #fff;
    }

    @media (orientation: landscape) {
        .custom-image{
            background-position: center right;
        }

        .custom-bg-sukses{
            background-position: bottom right;
        }

        .text-selamat{
            font-size : 30px
        }
        .text-sukses{
            font-size : 40px
        }
    }
    @media (orientation: portrait) {

        .custom-image{
            background-position: center;
        }

        .custom-bg-sukses{
            background-position: center;
        }
    }
}

@media (min-width: 1400px) {
    .custom-width{
        background-size : 45% !important;
        background-color: #fff;
        width : 50% !important;
        /*margin-top : -200px !important;*/
    }

    .custom-image{
        /*border: 50px solid #fff;*/

        background-attachment: fixed;
        background-position: center right;
        background-size : 750px 650px !important;
        background-color: #fff;
    }

    .custom-bg-sukses{
        background-position: bottom right;
        background-repeat : no-repeat;
        background-size : 30% !important;
        background-color: #fff;
    }

    .text-selamat{
        font-size : 30px
    }
    .text-sukses{
        font-size : 40px
    }
}

.kt-login-aside{
    width : 100%;
}

.putih{
    color : #000;
}

.gelap{
    background-color : #acacac
}

.custom-bg-register{
    background-size : 2000% !important;
    /*background-image : none !important;*/
    background-color: #fff;
    background-repeat : no-repeat;
    /*margin-top : 200px;*/
}

.custom-bg-register:before {
    height: calc(10%);
    width: 100%;
    display: block;
    position: absolute;
    top: 518px;
    z-index: -1;
    margin-left:-25px; /* This is to counter the 25px left-padding in .box-container div */
}

/*.custom-bg-register{*/
/*    background-size : 20%;*/
/*    flex-grow: 1;*/
/*}*/
/*.custom-bg-register:nth-child(6n+1){*/
/*    background-image: none !important;*/
/*}*/
/*.custom-bg-register:nth-child(6n+3),*/
/*.custom-bg-register:nth-child(6n+4),*/
/*.custom-bg-register:nth-child(6n+5){*/
/*    flex-basis: 33% !important;*/
/*}*/

.bg-putih{
    background-color : #fff;
}

.margin-minus{
    /*margin-top : -200px !important;*/
}

.full-height{
    height : 100%
}

/*Class untuk Aside Menu*/

/*hoover menu induk*/
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-text {
    color: #b72035 !important;
}
/*Teks Menu induk*/
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: #000000 !important;
}
/*hoover icon induk*/
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-icon svg g [fill], .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #b72033 !important;
}
/*hoover sub text*/
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-text {
    color: #b72033 !important;
}
/*text sub text*/
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: #000000 !important;
}

/*warna icon induk (selected)*/
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading .kt-menu__link-icon svg g [fill], .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link .kt-menu__link-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #000000 !important;
}

/*selected sub menu*/
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--submenu.kt-menu__item--open.kt-menu__item--here > .kt-menu__link {
    background-color: #f6f7fd;
}

/*selected menu induk*/
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link {
    background-color: #f6f7fd;
}

/*hoover icon sub menu*/
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--dot > span, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot > span {
    background-color: #b72033 !important;
}

/*selected sub menu*/
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--here > .kt-menu__link {
    background-color: #f6f7fd;
}

/*selected sub menu icon*/
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--here > .kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--dot > span, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot > span {
    background-color: #000000 !important;
}

/*Button hide menu*/
@media (min-width: 1025px){
    .kt-aside__brand .kt-aside__brand-tools svg g [fill] {
        fill: #b72033 !important;
    }
}

.kt-aside__brand .kt-aside__brand-tools svg g [fill] {
    fill: #b72033 !important;
}

.kt-login-custom.kt-login--v4-custom .kt-login__wrapper-custom .kt-login__container-custom .kt-form-custom .form-control-custom {
    height: 46px;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 46px;
    margin-top: 1.5rem;
    background: rgb(255 255 255 / 71%);
    color: #a7abc3;
}
