.wrapper-loading {
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}
.loader--dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
}
.loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 12rem;
    margin: auto;
}
.loader--text:after {
    content: "Loading";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color:white;
    font-size: 30px;
}
.loader--desc {
    position: absolute;
    top: 380%;
    left: 0;
    right: 0;
    width: 25rem;
    margin: auto;
    color:white;
    font-size: 18px;
    text-align:center;
}

@keyframes loader {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(230px);
    }
    65% {
        transform: translateX(230px);
    }
    95% {
        transform: translateX(0);
    }
}
@keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}
b.label--required{
    color:red;
}
label.error{
    color:red;
}
.kt-menu__item{
    color: red;
}
.table-space{
    background-color: #dbdbdb;
}
.logo-register{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn-large{
    height: 100px;
    font-size: 30px;
    border-radius: 40px;
    width: 100%;
    margin: 15px;
    line-height: 80px;
}
.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-control {
    height: 46px;
    border: solid #c5cae2 1px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 10px;
    margin-top: 1.5rem;
    background: rgba(255, 255, 255, 0.015);
    color: #464646;
}
.kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 25%;
}
.logo-register img{
    width: auto;
    height: 120px;
}
.kt-portlet .kt-portlet__body.kt-portlet__body--fit {
    padding: 20px;
}
.icon-tab-register{
    width: 60px;
    height: auto;
}
.confirmation-panel{
    padding: 20px;
    height: 300px;
}
@media screen and (max-width:1024px) {
    .icon-tab-register{
        width: 35px;
        height: auto;
    }
    .kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item .kt-wizard-v1__nav-body {
        padding: 2px;
    }
}
@media screen and (max-width:768px) {
    .icon-tab-register{
        width: 18px;
        height: auto;
    }
    .confirmation-panel{
        height: 350px;
    }
    .confirmation-panel h5{
        font-size: 12px;
    }
}
@media screen and (max-width: 1024px){
    .kt-login.kt-login--v4 .kt-login__wrapper {
        padding-top: 0px;
        padding: 0px;
        width: 100%;
    }
}
@media screen and (max-width:425px) {

    .confirmation-panel{
        height: 450px;
    }
}
@media screen and (max-width:375px) {

    .confirmation-panel{
        height: 700px;
    }
}
.login img{
    width: auto;
    height: 80px;
}
@media screen and (max-width:768px) {
    .logo-register img{
        height: 60px;
    }
}

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
    .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span {
        background: rgb(255, 255, 255); }
    .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span::before, .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span::after {
        background: rgb(255, 255, 255); }
    .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link {
            background-color: rgba(255, 255, 255, 0.4);
        }
} */

/* Light mode */
/* @media (prefers-color-scheme: light) {
    .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span {
        background: rgb(7, 60, 38)!important; }
    .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span::before, .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span::after {
        background: rgb(7, 60, 38)!important; }
    .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link {
            background-color: rgba(255, 255, 255, 0.4);
        }
} */

.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span {
    background: rgb(7, 60, 38)!important; }
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span::before, .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span::after {
    background: rgb(7, 60, 38)!important; }
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link {
        background-color: rgba(255, 255, 255, 0.4);
    }


@media (max-width: 1024px) {
    .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__topbar-toggler.kt-header-mobile__topbar-toggler--active i, .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__topbar-toggler:hover i {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: #073c26;
    }
    .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__topbar-toggler i, .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__topbar-toggler:hover i {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: #073c26;
    }
}
.register-body{
    width: 800px;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--submenu.kt-menu__item--open.kt-menu__item--here > .kt-menu__link {
    background-color: #0a3e29;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--here > .kt-menu__link {
    background-color: rgba(255, 255, 255, 0.4);
}
.newoverlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 50;background: rgba(255,255,255,0.7);border-radius: 3px;}
.newoverlay>.fa, .newoverlay-wrapper .newoverlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}
.wrapper-loading2 {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 100000;
}
.table-m{
    height: 150px;
    width: 150px;
    background-color: rgba(251, 72, 2, 0.58);
    border-radius: 20px;
    margin: 5px;
}
.inner-table{
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    word-wrap: break-word;
}

.table-container{
    padding: 20px;
}
.wrapper-loading-2 {
    top: 30%;
    left: 45%;
    position: absolute;
}
.pos-floating-button {
    position: fixed;
    bottom: 40px;
    left: 43%;
    z-index: 10000;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.load {
    position: relative;
    margin: 50px auto;
    width: 100px;
    height: 80px;
}

.gear {
    position: absolute;
    z-index: -10;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 5s infinite;
    animation: spin 5s infinite;
}
.kt-badge.kt-badge--inline {
    height: 28px;
    width: auto;
    padding: 0.75rem 0.75rem;
    border-radius: 2px;
}
.kt-badge.kt-badge--pill {
    border-radius: 2rem;
}
.two {
    left: 40px;
    width: 80px;
    height: 80px;
    -webkit-animation: spin-reverse 5s infinite;
    animation: spin-reverse 5s infinite;
}
.hidden{
    display: none;
}
.three {
    top: 45px;
    left: -10px;
    width: 60px;
    height: 60px;
}

.amExportButton {
    display: none !important;
}
.item-produksi {
    border-radius: 25px;
    border: 1px solid #ffb822;
    padding: 20px;
    margin: 10px;
}
.m-widget27 .m-widget27__pic .m-widget27__title>span {
    font-size: 2.5rem !important;
}
.m-widget27 .m-widget27__pic .m-widget27__title>span>span {
    font-size: 1.5rem;
    padding-right: 1rem;
}
td.text__right{
    text-align: right;
}

@-webkit-keyframes spin {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.focus-error,.focus-error:active,.focus-error:focus{
    border: 1px solid red;
}
@keyframes spin {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin-reverse {
    50% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spin-reverse {
    50% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@media (max-width: 768px) {
    .pos-floating-button {
        left: 23%;
    }
}
@media (max-width: 1024px) {
    .pos-floating-button {
        left: 30%;
    }
}
@media screen and (max-width:768px) {
    .kt-register__container{
        width: 700px;
        margin: 0 auto;
    }
    .header-register{
        width: 50%;
        margin: 0 auto;
    }
    .button-cotainer{
        margin-top: 30px;
    }

}
@media screen and (min-width:320px) {
    .kt-register__container{
        width: 375px;
        margin: 0 auto;
    }
    .header-register{
        width: 100%;
        margin: 0 auto;
    }

}
@media screen and (min-width:768px) {
    .header-register{
        width: 50%;
        margin: 0 auto;
    }
    .button-cotainer{
        margin-top: 50px;
    }
    .kt-register__container{
        width: 768px;
        margin: 0 auto;
    }

}
@media screen and (max-width:320px) {
    .kt-register__container{
        width: 320px;
        margin: 0 auto;
    }
    .header-register{
        width: 100%;
    }
    .button-cotainer{
        margin-top: 30px;
    }
    .logo-register img{
        width:50px;
        height: auto;
    }
    .header-registe h1{
        font-size: 20px;
    }
    .header-registe h4{
        font-size: 12px;
    }
    .btn-large{
        height: 50px;
        font-size: 20px;
        border-radius: 40px;
        width: 100%;
        margin: 15px;
    }
}
